{#include main.html}
    {#title}Invoices{/title}
    {! Add some CSS !}
    {#moreStyles}
        <style>
            .error {
                color: red;
                border-color: red;
            }

            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    {/moreStyles}


    <div>
        <h1>Detail Facture [{invoice.numFacture.toUpperCase}] </h1>
    </div>

    <br/>

    <div>
        <div>
            <label for="numFacture">Numéro de facture</label>
            <input name="numFacture" value={invoice.numFacture} readonly/>
        </div>
        <div>
            <span>Le vendeur : </span>
            <span>{invoice.vendeur.raisonSocial}</span>

            <button id="myBtn">Change Vendeur</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="form-style-6">
                        {#form uri:Invoices.attachNewVendeur(invoice.id)}
                            <div>
                                <label for="sirenV">Recherche de siren</label>
                                <input name="sirene" type="text" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">load new vendeur</button>
                            </div>

                        {/form}
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div>
        <div class="table-wrapper">
            <table class="table">
              <thead class="table-dark">
                <tr>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>Prix Unit.</th>
                    <th>Taux TVA</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody id="lines">
                {#for line in lines}
                {#fragment id="lineRow"}
                    <tr id="row-{line.id}">
                    <td><input name="description" value="{line.description}" hx-post="{uri:Invoices.updateDescription(line.id)}" hx-target="#row-{line.id}" hx-swap="outerHTML"
          	                hx-vals='{"{inject:csrf.parameterName}": "{inject:csrf.token}"}'/></td>
                    <td><input  name="qttyDto" value="{line.qtty}" hx-post="{uri:Invoices.updateQtty(line.id)}" hx-target="#row-{line.id}" hx-swap="outerHTML"
          	                hx-vals='{"{inject:csrf.parameterName}": "{inject:csrf.token}"}'  /></td>
                    <td><input  name="unitPrice" value="{line.unitPrice}" hx-post="{uri:Invoices.updateUnitPrice(line.id)}" hx-target="#row-{line.id}" hx-swap="outerHTML"
          	                hx-vals='{"{inject:csrf.parameterName}": "{inject:csrf.token}"}'/></td>
                    <td><input  name="taxRate" value="{line.taxRate}" hx-post="{uri:Invoices.updateTaxRate(line.id)}" hx-target="#row-{line.id}" hx-swap="outerHTML"
          	                hx-vals='{"{inject:csrf.parameterName}": "{inject:csrf.token}"}'/></td>
                    <td>
                        <button type="submit" class="btn btn-danger" title="delete"
          	                hx-post="{uri:Invoices.removeLine(line.id)}" hx-target="#row-{line.id}" hx-swap="delete"
          	                hx-vals='{"{inject:csrf.parameterName}": "{inject:csrf.token}"}'><i class="bi-trash"></i>
          	            </button>
          	        </td>
                    </tr>
                {/fragment}
                {/for}
                <tr id="new">

                </tr>
                {#form uri:Invoices.addLine(invoice.id)}
                <tr>
                    <td><input name="description" placeholder="Description" type="text" value="{newLine.description}" /></td>
                    <td><input name="qttyDto" placeholder="Quantity" type="text"  {#ifError 'qttyDto'}class="error"{/} value="{newLine.qtty}"  /></td>
                    <td><input name="unitPrice" placeholder="Unit Price" type="text" value="{newLine.unitPrice}" /></td>
                    <td><input name="taxRate" placeholder="Rate" type="text" value="{newLine.taxRate}" /></td>
                    <td><input type="submit" value="Add line"/></td>
                </tr>
                {/form}
                </tbody>
            </table>
        </div>
    </div>

     {#ifError 'qttyDto'}
      <div class="error">
      Error: {#error 'qttyDto'/}
      </div>
    {/ifError}


    <br/>

    <div>
    {#form uri:Invoices.updateInvoice(invoice.id, invoice)}
            <div>
            <button type="submit" class="btn btn-primary" disabled>Valider & Générer une facture électronique !</button>
            </div>

    {/form}
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>


{/include}