<h1>New Entreprise</h1>
{! A form action calling Application.initInvoice() !}
{#form uri:Entreprises.createEntreprise()}
  <input name="raisonSocial" placeholder="Raison social" type="text" {#ifError 'raisonSociale'}class="error"{/}/>
  <input name="siren" placeholder="SIREN" type="text"  {#ifError 'siren'}class="error"{/}/>
  <input type="submit" value="Send"/>
  {! We add some information if there's a validation error !}
  {#ifError 'raisonSocial'}
    <div class="error">
    Error: {#error 'raisonSocial'/}
    </div>
  {/ifError}
  {#ifError 'siren'}
    <div class="error">
    Error: {#error 'siren'/}
    </div>
  {/ifError}

{/form}