{! Form to post some INVOICE !}
<div class="form-style-6">
  <h1>New facture</h1>
  {! A form action calling Application.initInvoice() !}
  {#form uri:Invoices.initInvoice()}
    <input name="numFacture" placeholder="Numéro de Facture" type="text" {#ifError 'numFacture'}class="error"{/}/>
    <input name="dateFacturation" placeholder="completed" type="date" value="2024-01-12" {#ifError 'dateFacturation'}class="error"{/}/>
    <input type="submit" value="Send"/>
    {! We add some information if there's a validation error !}
    {#ifError 'numFacture'}
      <div class="error">
      Error: {#error 'numFacture'/}
      </div>
    {/ifError}
    {#ifError 'dateFacturation'}
      <div class="error">
      Error: {#error 'dateFacturation'/}
      </div>
    {/ifError}
    {#if flash:backendError}
      <div class="error">Nope: {flash:backendError}</div>
    {/if}

  {/form}
</div>