{#include main.html}
  {#title}Company{/title}
  {! Add some CSS !}
  {#moreStyles}
    <style>

      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  {/moreStyles}


  {! Iterate over our invoice items !}
  <div class="table-wrapper">
    <table class="fl-table">
      <tr>
        <th>Raison Sociale</th>
        <th>Siren</th>
      </tr>
      {#for entreprise in entreprises}
        <tr>
        {! This invokes the JavaExtensions.capitalise(String) extension method !}
        <td>{entreprise.raisonSocial}</td>
        <td>{entreprise.siren.prettySiren}</td>
        </tr>
      {/for}
    </table>
  </div>

  {#form uri:Entreprises.testSirene()}
    <div>
    <input name="sirene" placeholder="SIREN" type="text" {#ifError 'sirene'}class="error"{/}/>
    <input type="submit" value="Test Sirene"/>
    </div>
    {#ifError 'sirene'}
      <div class="error">
      {#error 'sirene'/}
      </div>
    {/ifError}
  {/form}


{/include}
